# 🔐 Секреты
.env

# 🐍 Python кеш
__pycache__/
*.pyc
*.pyo
*.pyd

# 🧰 Виртуальные окружения
venv/
.venv/

# 🧪 Тестовые файлы
*.log

# 🖥 IDE файлы (если случайно попадут)
.vscode/
.idea/

# 🗂 Системные файлы
.DS_Store
